.register {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 25px;
}

.header {
  margin: 0 4.2rem 2.2rem 4.2rem;
}

.text {
  font-size: 15px;
  margin-top: 10px;
  color: red;
}